<!-- Footer -->
<footer class="page-footer font-small orange pt-4">

  <!-- Footer Links -->
  <div class="container-fluid text-center text-md-left">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-6 mt-md-0 mt-3">

        <!-- Content -->
        <h5 class="text-uppercase">PF PHILFAUS COMPANY LIMITED</h5>
        <p>At PF PHILFAUS COMPANY LIMITED, we help drivers own a car.</p>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none pb-3">

      <!-- Grid column -->
      <div class="col-md-3 mb-md-0 mb-3">

        <!-- Links -->
        <h5 class="text-uppercase">Links</h5>

        <ul class="list-unstyled link-style">
          <li>
            <a href="home">Home</a>
          </li>
          <li>
            <a href="#!">Gallery</a>
          </li>
          <li>
            <a href="#!">About Us</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-3 mb-md-0 mb-3">

        <!-- Links -->
        <h5 class="text-uppercase">Locate Us</h5>


            <p>P.O Box 144 Kanda.</p>
            <p><strong>Tel: </strong>0246 879 532</p>
            <p><strong>Tel: </strong>0243 861 077</p>




      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2019 Copyright:
    <a href="">AdezTech</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->
