<div class="master-jumbo">
<div class="sidenav">
  <a class="side-text" href="home">HOME</a>
  <a href="aboutus">ABOUT US</a>
  <a href="contactus">CONTACT US</a>
  <a href="gallery">GALLERY</a>
</div>

<!-- Page Content -->
<div class="container">

  <h1 class="font-weight-light text-center text-lg-left mt-4 mb-0">Our Gallery</h1>

  <hr class="mt-2 mb-5">

  <div class="row text-center text-lg-left">

    <div class="col-lg-3 col-md-4 col-6">
      <a href="assets/img/taxi4_home.png" class="d-block mb-4 h-100">
            <img class="img-fluid img-thumbnail" src="assets/img/taxi4_home.png" alt="">
          </a>
    </div>
    <div class="col-lg-3 col-md-4 col-6">
      <a href="assets/img/taxi5_home.png" class="d-block mb-4 h-100">
            <img class="img-fluid img-thumbnail" src="assets/img/taxi5_home.png" alt="">
          </a>
    </div>
    <div class="col-lg-3 col-md-4 col-6">
      <a href="assets/img/taxi_home.png" class="d-block mb-4 h-100">
            <img class="img-fluid img-thumbnail" src="assets/img/taxi_home.png" alt="">
          </a>
    </div>
    <div class="col-lg-3 col-md-4 col-6">
      <a href="assets/img/taxi2_home.png" class="d-block mb-4 h-100">
            <img class="img-fluid img-thumbnail" src="assets/img/taxi2_home.png" alt="">
          </a>
    </div>
    <div class="col-lg-3 col-md-4 col-6">
      <a href="assets/img/taxi3_home.png" class="d-block mb-4 h-100">
            <img class="img-fluid img-thumbnail" src="assets/img/taxi3_home.png" alt="">
          </a>
    </div>
    <div class="col-lg-3 col-md-4 col-6">
      <a href="assets/img/taxi6_home.png" class="d-block mb-4 h-100">
            <img class="img-fluid img-thumbnail" src="assets/img/taxi6_home.png" alt="">
          </a>
    </div>
    <div class="col-lg-3 col-md-4 col-6">
      <a href="assets/img/taxi7_home.png" class="d-block mb-4 h-100">
            <img class="img-fluid img-thumbnail" src="assets/img/taxi7_home.png" alt="">
          </a>
    </div>
    <div class="col-lg-3 col-md-4 col-6">
      <a href="assets/img/taxi8_home.png" class="d-block mb-4 h-100">
            <img class="img-fluid img-thumbnail" src="assets/img/taxi8_home.png" alt="">
          </a>
    </div>
    <div class="col-lg-3 col-md-4 col-6">
      <a href="assets/img/taxi9_home.png" class="d-block mb-4 h-100">
            <img class="img-fluid img-thumbnail" src="assets/img/taxi9_home.png" alt="">
          </a>
    </div>
    <div class="col-lg-3 col-md-4 col-6">
      <a href="assets/img/taxi10_home.png" class="d-block mb-4 h-100">
            <img class="img-fluid img-thumbnail" src="assets/img/taxi10_home.png" alt="">
          </a>
    </div>
    <div class="col-lg-3 col-md-4 col-6">
      <a href="assets/img/taxi11_home.png" class="d-block mb-4 h-100">
            <img class="img-fluid img-thumbnail" src="assets/img/taxi11_home.png" alt="">
          </a>
    </div>
    <div class="col-lg-3 col-md-4 col-6">
      <a href="assets/img/taxi12_home.png" class="d-block mb-4 h-100">
            <img class="img-fluid img-thumbnail" src="assets/img/taxi12_home.png" alt="">
          </a>
    </div>
  </div>

</div>
<!-- /.container -->
