<div class="master-jumbo">
<div class="sidenav">
  <a class="side-text" href="home">HOME</a>
  <a href="aboutus">ABOUT US</a>
  <a href="contactus">CONTACT US</a>
  <a href="gallery">GALLERY</a>
</div>

<mat-card>
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <form #signupForm="ngForm" *ngIf="!isLoading">
    <mat-form-field>
      <input matInput name="name" ngModel type="text" placeholder="Name" #nameInput="ngModel" required>
     <mat-error *ngIf="nameInput.invalid">Please enter your Name.</mat-error>
  </mat-form-field>

<mat-form-field>
      <input matInput name="phone" ngModel type="number" placeholder="Phone Number" #phoneInput="ngModel" required>
     <mat-error *ngIf="phoneInput.invalid">Please enter a valid email.</mat-error>
  </mat-form-field>

<mat-form-field>
      <input matInput name="email" ngModel type="email" placeholder="E-mail" #emailInput="ngModel" required>
     <mat-error *ngIf="emailInput.invalid">Please enter a valid email.</mat-error>
  </mat-form-field>

  <mat-form-field>
    <textarea name="message" ngModel type="text" matInput placeholder="Password" #passwordInput="ngModel" required></textarea>
    <mat-error *ngIf="passwordInput.invalid">Please enter a valid password.</mat-error>
  </mat-form-field>
  <button mat-raised-button color="accent" type="submit" *ngIf="!isLoading" (click)="register()">Signup</button>
  </form>
</mat-card>


</div>
