<div class="sidenav">
  <a class="side-text" href="home">HOME</a>
  <a href="aboutus">ABOUT US</a>
  <a href="contactus">CONTACT US</a>
  <a href="gallery">GALLERY</a>
</div>
<div class="wrappa">
<div class="jumbotron jumbos">
  <div id="carouselExampleSlidesOnly" class="carousel slide slider" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="d-block w-100 image-sl" src="assets/img/taxi2_home.png" alt="First slide">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100 image-sl" src="assets/img/taxi3_home.png" alt="Second slide">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100 image-sl" src="assets/img/taxi4_home.png" alt="Third slide">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100 image-sl" src="assets/img/taxi5_home.png" alt="Third slide">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100 image-sl" src="assets/img/taxi6_home.png" alt="Third slide">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100 image-sl" src="assets/img/taxi7_home.png" alt="Third slide">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100 image-sl" src="assets/img/taxi8_home.png" alt="Third slide">
    </div>
  </div>
</div>
</div>

<div class="bg">
<h4 class="btn btn-warning btn-block head-test">Getting Started in 3 Steps!</h4>
<ol>
  <li class="text animated bounce">Give us a call, introduce yourself</li>
  <li class="text animated bounce">Visit our office to check your eligibility</li>
  <li class="text animated bounce">Choose a car and start driving!</li>
</ol>

</div>
</div>

<div>
  <hr class="style13">
<br>
</div>

<div class="sub-wrap">
  <div class="col-md-4 box">
   <h3 class="display-5 display5">Own a taxi in 2years!</h3>
    <p>PF Philfaus offers you oppourtunites to which you can own your taxi in 2years. A system popularly known as "Work and Pay"</p>
    <p>With our flexible payment plans, drivers can pay for their vehicle under soft conditions.</p>
<div>
  <hr class="style13">
<br>
</div>
   <button type="button" class="btn btn-dark">Learn more</button>
  </div>

<div class="col-md-4 box">
   <h3 class="display-5 display5">Our Cars!</h3>
    <p>PF Philfaus provides very neat and clean cars. We provides cars that are fuel efficient and easy to maintain</p>
    <p>Our cars range from from model year 2008 - 2012, with very low mileage.</p>
<div>
  <hr class="style13">
<br>
</div>
   <a class="btn btn-dark" href="gallery" role="button">Gallery</a>
  </div>

<div class="col-md-4 box">
   <h3 class="display-5 display5">We Sell Used Cars!</h3>
    <p>PF Philfaus offers you oppourtunites to which you can own your taxi in 2years. A system popularly known as "Work and Pay"</p>
    <p>With our flexible payment plans, drivers can pay for their vehicle under soft conditions.</p>
<div>
  <hr class="style13">
<br>
</div>
   <button type="button" class="btn btn-dark">Learn More</button>
  </div>


</div>

<div>
  <hr class="style13">
<br>
</div>

