ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: white;
}

ul {
  display: flex;
}

.spacer {
  flex: 1 1 auto;
}


.example-card {
  max-width: 400px;

}

mat-toolbar-row {
  height: 180px;
}

mat-card {
  width: 100%;
}


.sidenav {
  width: 150px;
  position: fixed;
  z-index: 1;
  top: 120px;
  left: 10px;
  background: chocolate;
  overflow-x: hidden;
  padding: 8px 0;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  border: 1px #793a06 solid;
  background: #77604e;
  color: rgb(11, 16, 20);
  display: block;
}

.sidenav a:hover {
  color: #793a06;
}

.main {
  margin-left: 140px; /* Same width as the sidebar + left position in px */
  font-size: 28px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}


.slider {
  margin-top: -25px;
}

.image-sl {
  height: 410px;
  width: 610px;
  border: 3px #793a06 solid;
  border-radius: 12px;
}

.jumbos {
  height: 430px;
  padding: 5px;
  background: none;

}

.carousel-item {
  height: 410px;
  width: 680px;
  margin-top: 28px;

}

.carousel-inner {
  width: 684px;
}


li {
  line-height: 3.5;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
}

.wrappa {
  display: flex;
  border: 3px #793a06 solid;
  border-radius: 5px;
  padding: 5px;
}

.animated {
  animation-duration: 10.5s;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
  40% {transform: translateY(-30px);}
  60% {transform: translateY(-15px);}
}
.bounce {
  animation-name: bounce;
}


hr.style13 {
	height: 10px;
	border: 0;
	box-shadow: 0 10px 10px -10px #8c8b8b inset;
}

.sub-wrap {
  display: flex;
  justify-content: space-between;
  max-height: 380px;
}

.box {
  flex-basis: 30%;
  border: 1px #793a06 solid;
  border-radius: 8px;
  box-sizing: border-box;
  margin-bottom: 20px;
  padding: 20px;
  align-content: center;
  background-color: #dad7d5

}

.sub-image {
  width: 180px;
}

.display5 {

  border-radius: 10px;
  background-color: rgb(228, 228, 106);
}

.bg {
  /* The image used */
  background-image: url("../../../src/assets/img/jumbo_bg.png");

  /* Full height */
  height: 100%;
  width: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.head-test {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: bolder;
  font-size: 30px;
}
